@keyframes btn-validation {
    to {
        transition: 300ms, ease-out
    }
}
@keyframes menu-appear {
    0% {
       opacity: 0;
    }
    20% {
       opacity: 0.6;
    }
    30% {
       opacity: 0.7;
    }
    40%, 100% {
       opacity: 1;
    }
 }
 @keyframes selection-tick { /* MIEUX AVEC TRANSLATE MAIS NE DEPLACE PAS LES COLONNES DE GAUCHE */
   to {
      margin-right: 0px; 
   }
 }
 @keyframes selection-tick2 { /* MIEUX AVEC TRANSLATE MAIS NE DEPLACE PAS LES COLONNES DE GAUCHE */
   to {
      transform: translateX(-100%);
      transition: transform 1s 100ms forwards;
   }
 }
 @keyframes price-translate {
   to {
      transform: translateX(-59px);
   }
 }
 @keyframes selection-tick-off {
   to {
      margin-right: -59px;
      transition: transform 1s 100ms forwards;
   }
 }
@keyframes loading-spinner {
   0% {
      opacity: 0.5;
   }
   10% {
      transform: scale(1.5);
      opacity: 0.75;
   }
   20% {
      transform: scale(2);
      opacity: 1;
   }
   30% {
      transform: scale(2.5);
      opacity: 1;
   }
   40% {
      transform: scale(3);
      opacity: 1;
   }
   50% {
      transform: scale(2.5);
      opacity: 1;
   }
   60% {
      transform: scale(2);
      opacity: 1;
   }
   70% {
      transform: scale(1.5);
      opacity: 0.75;
   }
   80% {
      transform:scale(1);
      opacity: 0.5;
   }
   100% {
      opacity: 0;
   }
}
@keyframes body-appear {
   to {
      opacity: 1;
   }
}