/* Header */
* {
    font-family: Roboto;
    color: $color-typo;
}
h1, .menu__title h2, footer h2 { /* Logo */
    font-family: Shrikhand;
    font-style: italic;
    font-weight: 400;
}
h1 {
    font-size: 30px;
}
/* Homepage */
/* Hero Block */
.hero {
    h3 {
        font-weight: 300;
        text-align: center;
    }
}
/* Tuto Block */
.tuto__card {
    span {
        font-weight: 500;
    }
}
/* Restaurants Block */
.card-restaurant {
    h4 {
        font-weight: 300;
    }
}
/* Menu page */
/* Menu Block */
.menu {
    &__title {
        font-size: 18px;
    }
    &__subtitle { /* Entrées, Plats, Desserts */
        font-size: 16px;
        font-weight: 300;
        text-transform: uppercase;
    }
}
/* Menu card */
.card-menu {
    &__text {
        h5 { /* Précisions plat */
            font-size: 15px;
            font-weight: 300;
        }
    }
    &__price {
        span { /* Prix */
            font-weight: 700;
        }
    }
}
/* Footer */
footer {
    h2 { /* Oh my food du footer*/
        font-size: 18px;
        color: $color-typo-footer;
    }
    h3 { /* Proposer un restaurant & Devenir partenaire */
        font-size: 16px;
        color: $color-typo-footer;
    }
    h4 { /* Mentions légales & Contact */
        font-weight: 400;
        color: $color-typo-footer;  
    }
}

