@charset "UTF-8";
/* Header */
/* Main */
/* JUSTE METTRE BACKGROUND? */
/* Hero */
/* Buttons */
/* Navigation Block */
/* Restaurants Block */
/* Menus Block */
/* JUSTE METTRE BACKGROUND? */
/* Footer */
/* Header */
h1 { /* Logo */
  font-family: Shrikhand;
  font-size: 30px;
  font-style: italic;
  font-weight: 400;
  line-height: 44px;
  letter-spacing: 0em;
  text-align: center;
}
@media only screen and (min-width: 768px) {
  h1 { /* tablettes et ordinateurs */
    font-size: 36px;
  }
}

/* Main */
/* Hero Block */
h2 { /* Réservez le menu..., Fonctionnement & Restaurants */ /* OK DE GARDER UN H2 GENERAL POUR PLUSIEURS BLOCS? */
  font-family: Roboto;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: 0em;
  color: #000000;
}

.hero h3 {
  font-family: Roboto;
  font-size: 18px;
  font-weight: 300;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: center;
  color: #353535;
}

/* Navigation Block */
.navigation__card span {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
  color: #000000;
}

/* Restaurants Block */
.restaurants__card h3 {
  font-family: Roboto;
  font-size: 18px;
  font-weight: 700;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: left;
  text-decoration: none;
  color: #000000;
}
.restaurants__card h4 {
  font-family: Roboto;
  font-size: 17px;
  font-weight: 300;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
  text-decoration: none;
  color: #000000;
}

h7 { /* Titres page Menu*/
  font-family: Shrikhand;
  font-size: 28px;
  font-style: italic;
  font-weight: 400;
  line-height: 41px;
  letter-spacing: 0em;
  text-align: left;
}

h8 { /* Titres Entrées, Plats, Desserts*/
  font-family: Roboto;
  font-size: 16px;
  font-weight: 300;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
  text-transform: uppercase;
  color: rgb(0, 0, 0);
}

h9 { /* Oh my food du footer*/
  font-family: "Shrikhand";
  font-style: italic;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  color: white;
}

h10 { /* Proposer un restaurant & Devenir partenaire */
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: white;
}

h11 { /* Mentions légales & Contact */
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
  color: white;
}

h12 { /* Nom du plat */
  font-family: Roboto;
  font-size: 18px;
  font-weight: 500;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: left;
  color: rgb(0, 0, 0);
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow-wrap: normal;
  overflow: hidden;
}

h13 { /* Précisions plat */
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: left;
  color: rgb(0, 0, 0);
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow-wrap: normal;
  overflow: hidden;
}

h14 { /* Prix */
  font-family: Roboto;
  font-size: 15px;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: center;
}

#header__form-placeholder {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  background-color: #EAEAEA;
  border: none;
}

@keyframes btn-validation {
  to {
    transition: 300ms, ease-out;
  }
}
@keyframes menu-appear {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 0.6;
  }
  30% {
    opacity: 0.7;
  }
  40%, 100% {
    opacity: 1;
  }
}
@keyframes selection-tick {}
#header__title {
  width: 375px;
  height: 63px;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: auto;
}
@media only screen and (min-width: 768px) {
  #header__title { /* tablettes et ordinateurs */
    width: auto;
    height: 96px;
    max-width: 1440px;
    max-height: 96px;
  }
}

.header__goback-icon {
  width: 30px;
  height: 30px;
  position: absolute;
  left: 17px;
  font-size: 16px;
  text-align: center;
  line-height: 30px;
  border: 1px solid white;
}
.header__goback-icon a:visited {
  color: black;
}
.header__goback-icon--hidden {
  visibility: hidden;
}

#header__logo {
  width: 200px;
  height: 36px;
  margin: auto;
}

/* Navigation Block */
.navigation__container {
  min-width: 375px;
  display: flex;
  flex-direction: column;
  background-color: #FFFFFF;
  padding-bottom: 44px;
}
@media only screen and (min-width: 768px) {
  .navigation__container { /* tablettes et ordinateurs */
    width: 100%;
    max-width: 1440px;
    margin: auto;
  }
}
.navigation__title {
  width: 275px;
  height: 31px;
  margin-top: 48px;
  margin-left: 20px;
  margin-bottom: 26px;
}
.navigation__card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
  margin-left: 32.5px;
  margin-right: 32.5px;
}
@media only screen and (min-width: 768px) {
  .navigation__card-container { /* tablettes et ordinateurs */
    justify-content: flex-start;
  }
}
.navigation__card {
  width: 335px;
  height: 72.38px;
  border-radius: 20px;
  background-color: #F6F6F6;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1490196078);
}
.navigation__card-number {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14.2px;
  line-height: 17px;
  background-color: #9356DC;
  border-radius: 50%;
  z-index: 1;
  position: relative;
  right: 12.5px;
}
.navigation__card-number p {
  position: relative;
  width: 15.27px;
  height: 14.55px;
  color: #FFFFFF;
  bottom: 10px;
  left: 8px;
  z-index: 2;
}
.navigation__card-icon i {
  width: 13.02px;
  height: 19.9px;
  color: #7E7E7E;
  font-size: 21px;
  padding-left: 20px;
}
.navigation__card h4 {
  position: relative;
  left: 50px;
}
.navigation__card a:link {
  width: 335px;
  height: 72.38px;
  text-decoration: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.navigation__card:hover {
  cursor: pointer;
}
.navigation__card:hover .fa-solid.fa-mobile-screen-button, .navigation__card:hover .fa-solid.fa-list-ul, .navigation__card:hover .fa-solid.fa-store {
  color: #9356DC;
}

footer {
  width: 100%;
  min-height: 186px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 22px 25px;
  gap: 16px;
  background-color: #353535;
}
footer .footer__container {
  width: 375px;
  margin: 22px 25px 22px 25px;
}
@media only screen and (min-width: 768px) {
  footer .footer__container { /* tablettes et ordinateurs */
    width: 100%;
    height: auto;
    max-width: 1440px;
    max-height: 114px;
    display: flex;
    flex-direction: row-reverse; /* A REVOIR, NE VA PAS A LA LIGNE ENTRE MOBILE ET DESKTOP */
    justify-content: flex-start;
    align-items: baseline;
    padding: 30px 25px;
    gap: 16px;
    isolation: isolate;
    margin: auto;
  }
}
footer .footer__title {
  width: 139px;
  height: 27px;
}
footer li {
  list-style: none;
}
footer li a:link {
  text-decoration: none;
}
footer ul {
  padding-left: 0px;
}
@media only screen and (min-width: 768px) {
  footer ul { /* tablettes et ordinateurs */
    display: flex;
    flex-direction: row;
  }
}
footer .footer__list-element {
  width: 190px;
  margin-left: 4px;
}
footer .fa-solid.fa-utensils, footer .fa-solid.fa-handshake-angle {
  font-size: 12px;
  color: white;
  padding-right: 8px;
  padding-left: 2px;
}
footer .footer__list-element-normal {
  width: 130px;
  height: 20px;
}

.btn-validate {
  width: 218px;
  height: 50px;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: center;
  color: #FFFFFF;
  background: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
  border: none;
  border-radius: 25px;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  transition: all 300ms ease-out;
}
.btn-validate:hover {
  opacity: 0.8;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.7);
}

.btn-like {
  width: 22px;
  height: 21px;
  position: relative;
  left: 10px;
}
@media only screen and (min-width: 768px) {
  .btn-like { /* tablettes et ordinateurs */
    position: relative;
    left: 170px;
  }
}
.btn-like .btn-like-unselected {
  z-index: 2;
  fill: white;
}
.btn-like .btn-like-unselected:hover {
  visibility: hidden; /* NE FONCTIONNE PAS */
}
.btn-like .btn-like-selected {
  z-index: 1;
  fill: #9356DC;
  stroke: none;
}

.heart {
  vertical-align: middle;
  font-size: 20px;
}

.heart-full {
  font-size: 20px;
  background: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  z-index: 1;
}

.heart-empty {
  font-size: 20px;
  background: white;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  z-index: 2;
}

.nouveau {
  width: 80px;
  height: 29px;
  border-radius: 2px;
  color: #008766;
  background-color: #99E2D0;
  position: relative;
  top: -235px;
  right: -245px;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: center;
  line-height: 29px;
}
@media only screen and (min-width: 768px) {
  .nouveau { /* tablettes et ordinateurs */
    position: relative;
    top: -235px;
    right: -389px;
  }
}

.nouveau--hiden {
  visibility: hidden;
}

/* Location Block*/
.location {
  width: 100%;
  height: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: #EAEAEA;
}
.location__form {
  padding-left: 20px;
}

/* Main */
main {
  background-color: #F6F6F6;
}

/* Hero Block */
.hero {
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #F6F6F6;
  margin-bottom: 20px;
}
.hero__title {
  width: 275px;
  height: 68px;
  text-align: center;
}
@media only screen and (min-width: 768px) {
  .hero__title { /* tablettes et ordinateurs */
    width: 645px;
    height: 47px;
    font-size: 40px;
  }
}
.hero__paragraph {
  width: 315px;
  height: 46px;
  position: relative;
  bottom: 15px;
}
@media only screen and (min-width: 768px) {
  .hero__paragraph { /* tablettes et ordinateurs */
    width: 531px;
    height: 46px;
  }
}

/* Restaurants Block */
#restaurants {
  padding-bottom: 80px;
}
@media only screen and (min-width: 768px) {
  #restaurants { /* tablettes et ordinateurs */
    width: 100%;
    max-width: 1440px;
    margin: auto;
  }
}
#restaurants__title {
  margin-left: 20px;
  margin-top: 48px;
}
#restaurants__cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  -moz-column-gap: 100px;
       column-gap: 100px;
  row-gap: 50px;
  margin: auto;
}
@media only screen and (min-width: 768px) {
  #restaurants__cards-container { /* tablettes et ordinateurs */
    max-width: 1080px;
    max-height: 552px;
  }
}
#restaurants .restaurants__card {
  width: 340px;
  height: 251px;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  border-radius: 15px;
  margin: auto;
  background-color: #FFFFFF;
}
@media only screen and (min-width: 768px) {
  #restaurants .restaurants__card { /* tablettes et ordinateurs */
    width: 490px;
  }
}
#restaurants .restaurants__card a {
  text-decoration: none;
}
#restaurants .image-link {
  width: 100%;
  height: 230px;
}
#restaurants .restaurants__card-image {
  width: 100%;
  height: 230px;
  -o-object-fit: cover;
     object-fit: cover;
  overflow: hidden;
  position: relative;
  bottom: 57px;
}
#restaurants .restaurants__card-body {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
  bottom: 45px; /* A MODIFIER?*/
}
#restaurants .restaurants__card-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  margin-left: 13px;
}
#restaurants .restaurants__card-text h5 {
  width: 267px;
  height: 20px;
  margin-bottom: 5px;
  margin-top: 5px;
}
#restaurants .restaurants__card-text h6 {
  width: 247px;
  height: 24px;
  margin: 0px;
}

#hero-menu-page .hero-menu-page-image {
  width: 100%;
  height: 275px;
  -o-object-fit: cover;
     object-fit: cover;
  margin: auto; /* N'EST PAS CENTRE AU DELA DE 1440PX */
}
@media only screen and (min-width: 768px) {
  #hero-menu-page .hero-menu-page-image { /* tablettes et ordinateurs */
    height: 383px;
    top: 96px;
  }
}

#menu {
  width: 100%;
  max-width: 1440px;
  background-color: #F6F6F6;
  border-radius: 15px 15px 0px 0px;
  padding-bottom: 40px;
  position: relative;
  bottom: 15px;
  margin: auto;
}
#menu .menu__title {
  width: 341px;
  height: 27px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 40px;
  margin: auto;
}
#menu .menu__title h7 {
  width: 341px;
  height: 29px;
}
#menu .menu__global-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
  margin: auto;
}
@media only screen and (min-width: 768px) {
  #menu .menu__global-container { /* tablettes et ordinateurs */
    max-width: 634px;
  }
}
#menu .menu__container-1 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  min-width: 349px;
  min-height: 270px;
  width: 100%;
  margin-left: 10px;
  margin-right: 10px;
  animation: menu-appear 3s 1s both ease-out;
}
#menu .menu__container-2 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  min-width: 349px;
  min-height: 270px;
  width: 100%;
  margin-left: 10px;
  margin-right: 10px;
  animation: menu-appear 3s 2s both ease-out;
}
#menu .menu__container-3 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  min-width: 349px;
  min-height: 270px;
  width: 100%;
  margin-left: 10px;
  margin-right: 10px;
  animation: menu-appear 3s 3s both ease-out;
}
#menu .menu__subtitle {
  width: 275px;
  height: 27px;
}
#menu .menu__subtitle-border {
  width: 38px;
  height: 3px;
  background-color: #99E2D0;
}
#menu .menu__cards-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
  margin: 10px;
}
#menu .menu__card {
  display: flex;
  width: 100%;
  flex-direction: row;
  width: 100%;
  border-radius: 15.04px;
  background-color: white;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1490196078);
  padding: 10px;
}
#menu .menu__card:hover {
  cursor: pointer;
}
#menu .menu__card-left {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
}
#menu .menu__card-text {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
#menu .menu__card-text h13 {
  width: 287px;
  height: 19px;
}
#menu .menu__card h14 {
  width: 27px;
  height: 18px;
}
#menu .menu__btn-validate {
  width: 186px;
  height: 50px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
}/*# sourceMappingURL=main.css.map */