@charset "UTF-8";
/* General */
/* Header */
/* Homepage */
/* Hero */
/* Buttons */
/* Tuto Block */
/* Restaurants Block */
/* Menu page */
/* Menu Block */
/* Footer */
/* Header */
* {
  font-family: Roboto;
  color: #000000;
}

h1, .menu__title h2, footer h2 { /* Logo */
  font-family: Shrikhand;
  font-style: italic;
  font-weight: 400;
}

h1 {
  font-size: 30px;
}

/* Homepage */
/* Hero Block */
.hero h3 {
  font-weight: 300;
  text-align: center;
}

/* Tuto Block */
.tuto__card span {
  font-weight: 500;
}

/* Restaurants Block */
.card-restaurant h4 {
  font-weight: 300;
}

/* Menu page */
/* Menu Block */
.menu__title {
  font-size: 20px;
}
.menu__subtitle { /* Entrées, Plats, Desserts */
  font-size: 16px;
  font-weight: 300;
  text-transform: uppercase;
}

/* Menu card */
.card-menu__text h5 { /* Précisions plat */
  font-size: 15px;
  font-weight: 300;
}
.card-menu__price span { /* Prix */
  font-weight: 700;
}

/* Footer */
footer h2 { /* Oh my food du footer*/
  font-size: 18px;
  color: white;
}
footer h3 { /* Proposer un restaurant & Devenir partenaire */
  font-size: 16px;
  color: white;
}
footer h4 { /* Mentions légales & Contact */
  font-weight: 400;
  color: white;
}

/* Homepage */
@keyframes body-appear {
  to {
    opacity: 1;
  }
}
@keyframes loading-spinner {
  0% {
    opacity: 0.5;
  }
  10% {
    transform: scale(1.5);
    opacity: 0.75;
  }
  20% {
    transform: scale(2);
    opacity: 1;
  }
  30% {
    transform: scale(2.5);
    opacity: 1;
  }
  40% {
    transform: scale(3);
    opacity: 1;
  }
  50% {
    transform: scale(2.5);
    opacity: 1;
  }
  60% {
    transform: scale(2);
    opacity: 1;
  }
  70% {
    transform: scale(1.5);
    opacity: 0.75;
  }
  80% {
    transform: scale(1);
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}
/* Menu Page */
@keyframes menu-appear {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 0.6;
  }
  30% {
    opacity: 0.7;
  }
  40%, 100% {
    opacity: 1;
  }
}
body {
  margin: 0px;
}

/* Header*/
header {
  height: 63px;
  max-width: 1440px;
  display: flex;
  align-items: center;
  margin: auto;
}
@media only screen and (min-width: 768px) {
  header { /* tablettes et ordinateurs */
    width: auto;
    height: 96px;
  }
}

.header__logo {
  margin: auto;
}
.header__goback-icon {
  position: absolute;
  left: 17px;
  font-size: 18px;
}
.header__goback-icon a:visited {
  color: black;
}

/* Footer*/
footer {
  background-color: #353535;
  padding-bottom: 10px;
}

.footer__title {
  margin-right: 30px;
}
.footer__container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 15px 0px 20px 30px;
  /* tablettes et ordinateurs */
}
@media only screen and (min-width: 768px) {
  .footer__container {
    flex-direction: row-reverse;
    align-items: last baseline;
    max-width: 1440px;
    padding-top: 50px;
    margin: auto;
  }
}
.footer__container ul {
  display: flex;
  flex-direction: column;
  gap: 7px;
  list-style-type: none;
  padding-left: 0px;
  margin-right: 50px;
  /* tablettes et ordinateurs */
}
@media only screen and (min-width: 768px) {
  .footer__container ul {
    flex-direction: row;
  }
}
.footer__container ul li {
  margin-right: 20px;
}
.footer__container ul a {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  text-decoration: none;
}
.footer__container ul a i {
  color: white;
  margin-right: 15px;
}
.footer__container ul a h3, .footer__container ul a h4 {
  margin: 0px;
}

.spinner {
  width: 100%;
  height: 100%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  position: fixed;
}
.spinner__ball1 {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #9356DC;
  animation: loading-spinner 1.5s 0s ease-in-out forwards;
  animation-iteration-count: 2;
}
.spinner__ball2 {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #FF79DA;
  animation: loading-spinner 1.5s 0.5s ease-in-out forwards;
  animation-iteration-count: 2;
}
.spinner__ball3 {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #99E2D0;
  animation: loading-spinner 1.5s 1s ease-in-out forwards;
  animation-iteration-count: 2;
}

/* Validation button*/
.btn-validate {
  width: 218px;
  height: 50px;
  font-size: 16px;
  font-weight: 500;
  color: #FFFFFF;
  background: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
  border: none;
  border-radius: 25px;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  margin: auto;
  transition: all 300ms ease-out;
}
.btn-validate:hover {
  opacity: 0.8;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.7);
}

/* Heart Like */
.heart {
  width: -moz-max-content;
  width: max-content;
  font-size: 24px;
  margin-left: 40px;
}
.heart:active .heart__full, .heart:hover .heart__full {
  opacity: 1;
  transition: opacity 1s ease-out;
}
.heart:active .heart__empty, .heart:hover .heart__empty {
  opacity: 0;
  transition: opacity 500ms ease-out;
}
.heart__full {
  width: -moz-max-content;
  width: max-content;
  background: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  opacity: 0;
  z-index: 1;
  transition: opacity 500ms ease-out;
}
.heart__empty {
  width: -moz-max-content;
  width: max-content;
  color: black;
  opacity: 1;
  z-index: 2;
  transition: opacity 1s ease-out;
}

/* Homepage */
/* Restaurant card */
.card-restaurant {
  width: 315px;
  height: 232px;
  border-radius: 15px;
  overflow: hidden;
  background-color: white;
  position: relative;
  margin: auto;
  /* tablettes et ordinateurs */
}
@media only screen and (min-width: 768px) {
  .card-restaurant {
    width: 490px;
    height: 251px;
  }
}
.card-restaurant a {
  text-decoration: none;
}
.card-restaurant__nouveau {
  width: 80px;
  height: 29px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 2px;
  color: #008766;
  background-color: #99E2D0;
  font-size: 14px;
  font-weight: 500;
  position: absolute;
  right: 15px;
  top: 15px;
}
.card-restaurant__image {
  width: 100%;
  height: 70%;
  display: inline-block;
  -o-object-fit: cover;
     object-fit: cover;
}
.card-restaurant__body {
  width: 100%;
  height: 30%;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 13px;
}
.card-restaurant__text {
  width: 80%;
  height: 45px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.card-restaurant__text h3 {
  margin: 0px;
}
.card-restaurant__text h4 {
  margin: 0px;
}
.card-restaurant .heart {
  position: absolute;
  right: 50px;
  bottom: 12px;
}

/* Menu Page */
/* Menu card */
.card-menu {
  width: 100%;
  display: flex;
  border-radius: 15px;
  background-color: #FFFFFF;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.card-menu:hover, .card-menu:active {
  cursor: pointer;
}
.card-menu:hover .card-menu__text, .card-menu:active .card-menu__text {
  width: 60%;
  transition: all 1s ease;
}
.card-menu:hover .card-menu__text h4, .card-menu:hover .card-menu__text h5, .card-menu:active .card-menu__text h4, .card-menu:active .card-menu__text h5 {
  white-space: nowrap;
}
.card-menu:hover .card-menu__tick, .card-menu:active .card-menu__tick {
  width: 20%;
  transition: all 1s ease;
}
.card-menu:hover .card-menu__tick i, .card-menu:active .card-menu__tick i {
  transform: rotate(360deg);
  transition: transform 1s 200ms;
}
.card-menu__text {
  width: 80%;
  transition: all 2s ease;
  padding: 12px;
}
.card-menu__text h4, .card-menu__text h5 {
  margin: 0px;
  white-space: normal;
  text-overflow: ellipsis;
  overflow-wrap: normal;
  overflow: hidden;
}
.card-menu__text h5 {
  padding-top: 6px;
}
.card-menu__price {
  width: 20%;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  padding-bottom: 12px;
  padding-right: 12px;
}
.card-menu__price span {
  margin: 0px;
}
.card-menu__tick {
  width: 0%;
  border-radius: 0px 15px 15px 0px;
  background-color: #99E2D0;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  transition: all 2s ease;
}
.card-menu__tick i {
  color: #99E2D0;
  background-color: white;
  border-radius: 50%;
  padding: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Loading spinner*/
.header-homepage, .main-homepage, .footer-homepage {
  opacity: 0;
  animation: body-appear 1s 3s ease-in forwards;
}

/* Location Block*/
.location {
  width: 100%;
  height: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: #EAEAEA;
}
.location__form {
  padding-left: 20px;
}
.location__form-placeholder {
  font-size: 16px;
  background-color: #EAEAEA;
  border: none;
}

/* Main */
.main-homepage {
  background-color: #F6F6F6;
}

/* Hero Block */
.hero {
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #F6F6F6;
  margin-bottom: 20px;
}
.hero__title {
  width: 60%; /* EST-CE OK, A ENLEVER? */
  text-align: center;
}
@media only screen and (min-width: 768px) {
  .hero__title { /* tablettes et ordinateurs */
    width: 100%;
    font-size: 40px; /* A ENLEVER?*/
  }
}
.hero__paragraph {
  width: 80%; /* EST-CE OK, A ENLEVER? */
  position: relative;
  bottom: 15px;
}

/* Tuto Block */
.tuto {
  background-color: #FFFFFF;
}
.tuto__container {
  display: flex;
  flex-direction: column;
  padding-bottom: 44px;
}
@media only screen and (min-width: 768px) {
  .tuto__container { /* tablettes et ordinateurs */
    width: 100%;
    max-width: 1200px;
    margin: auto;
  }
}
.tuto__title {
  margin-top: 40px;
  margin-left: 20px;
  margin-bottom: 26px;
}
.tuto__cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
  margin-left: 32.5px;
  margin-right: 32.5px;
}
@media only screen and (min-width: 1024px) {
  .tuto__cards-container { /* ordinateurs */
    justify-content: flex-start;
  }
}
.tuto__card {
  width: 322px;
  height: 72px;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 20px;
  background-color: #F6F6F6;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.25);
}
.tuto__card-number {
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: #9356DC;
  z-index: 2;
  position: relative;
  right: 12px;
}
.tuto__card-number span {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 15px;
  height: 15px;
  color: white;
}
.tuto__card-icon {
  width: 13px;
  height: 20px;
  color: #7E7E7E;
  font-size: 21px;
  padding-left: 15px;
}
.tuto__card-text {
  padding-left: 30px;
}
.tuto__card:hover .tuto__card-icon {
  color: #9356DC;
}

/* Restaurants Block */
.restaurants {
  padding-bottom: 80px;
}
@media only screen and (min-width: 768px) {
  .restaurants { /* tablettes et ordinateurs */
    width: 100%;
    max-width: 1200px;
    margin: auto;
  }
}
.restaurants__title {
  margin-top: 40px;
  margin-left: 20px;
  margin-bottom: 26px;
}
.restaurants__cards-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  gap: 18px;
  margin: auto;
}
@media only screen and (min-width: 768px) {
  .restaurants__cards-container { /* tablettes et ordinateurs */
    gap: 50px;
  }
}

/* Menu Page */
/* Hero */
.hero-menu-page-image {
  width: 100%;
  height: 275px;
  -o-object-fit: cover;
     object-fit: cover;
}
@media only screen and (min-width: 768px) {
  .hero-menu-page-image { /* tablettes et ordinateurs */
    height: 383px;
  }
}

/* Menu Block */
.menu {
  width: 100%;
  max-width: 1440px;
  background-color: #F6F6F6;
  border-radius: 40px 40px 0px 0px;
  padding-bottom: 40px;
  position: relative;
  margin: auto;
  margin-top: -40px;
}
@media only screen and (min-width: 768px) {
  .menu { /* tablettes et ordinateurs */ }
}
.menu__title {
  height: 27px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 32px 40px 40px 20px;
  margin: auto;
}
.menu__global-container {
  max-width: 634px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
  margin: auto;
}
.menu__container-1 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  margin-left: 10px;
  margin-right: 10px;
  animation: menu-appear 3s 1s both ease-out;
}
.menu__container-2 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  margin-left: 10px;
  margin-right: 10px;
  animation: menu-appear 3s 2s both ease-out;
}
.menu__container-3 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  margin-left: 10px;
  margin-right: 10px;
  animation: menu-appear 3s 3s both ease-out;
}
.menu__subtitle {
  padding-left: 10px;
  margin: 0px;
}
.menu__subtitle-border {
  width: 40px;
  height: 3px;
  background-color: #99E2D0;
  margin-left: 10px;
  margin-bottom: 5px;
}
.menu__cards-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
  margin: 10px;
}
.menu__btn-validate {
  width: 218px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  animation: menu-appear 3s 4s both ease-out;
}/*# sourceMappingURL=main.css.map */