@charset "UTF-8";
/* Header */
/* Main */
/* Hero */
/* Buttons */
/* Navigation Block */
/* Restaurants Block */
/* Footer */
h1 {
  font-family: Shrikhand;
  font-size: 30px;
  font-style: italic;
  font-weight: 400;
  line-height: 44px;
  letter-spacing: 0em;
  text-align: center;
}
@media only screen and (min-width: 768px) {
  h1 { /* tablettes et ordinateurs */
    font-size: 36px; /* N'EST PAS SPECIFIE DANS LA MAQUETTE */
  }
}

h2 {
  font-family: Roboto;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: 0em;
  color: #000000;
}

h3 {
  font-family: Roboto;
  font-size: 18px;
  font-weight: 300;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: center;
  color: #353535;
}

h4 {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
  color: #000000;
}

h5 {
  font-family: Roboto;
  font-size: 18px;
  font-weight: 700;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: left;
  text-decoration: none;
  color: #000000;
}

h6 {
  font-family: Roboto;
  font-size: 17px;
  font-weight: 300;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
  text-decoration: none;
  color: #000000;
}

h9 { /* Oh my food du footer*/
  font-family: "Shrikhand";
  font-style: italic;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  color: white;
}

h10 { /* Proposer un restaurant & Devenir partenaire */
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: white;
}

h11 { /* Mentions légales & Contact */
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
  color: white;
}

#header__form-placeholder {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  background-color: #EAEAEA;
  border: none;
}

#header__title {
  width: 375px;
  height: 63px;
  display: flex;
  flex-direction: row;
  align-items: center;
  z-index: 1;
  margin: auto;
}
@media only screen and (min-width: 768px) {
  #header__title { /* tablettes et ordinateurs */
    width: auto;
    height: auto;
    max-width: 1440px;
    max-height: 96px;
  }
}

.header__goback-icon {
  width: 30px;
  height: 30px;
  margin: auto;
}
.header__goback-icon-homepage {
  position: absolute;
  visibility: hidden;
}

.fa-solid.fa-arrow-left {
  width: 17.2px;
  height: 16px;
  margin-left: 4px;
  margin-top: 4px;
  position: absolute;
  z-index: 2;
}
.fa-solid.fa-arrow-left:visited {
  color: black;
}
.fa-solid.fa-arrow-left:active {
  color: black;
}

#header__logo {
  width: 200px;
  height: 36px;
  margin: auto;
}

/* Navigation Block */
#navigation {
  min-width: 375px;
  background-color: #FFFFFF;
  display: flex;
  flex-direction: column;
  padding-bottom: 44px;
}
@media only screen and (min-width: 768px) {
  #navigation { /* tablettes et ordinateurs */
    width: 100%;
    max-width: 1440px;
    margin: auto;
  }
}
#navigation .navigation__title {
  width: 275px;
  height: 31px;
  margin-top: 48px;
  margin-left: 20px;
  margin-bottom: 26px;
}
#navigation .navigation__card-container {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: 40px;
  margin-left: 32.5px;
}
#navigation .navigation__card {
  width: 335px;
  height: 72.38px;
  border-radius: 20px;
  background-color: #F6F6F6;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1490196078);
}
#navigation .navigation__card .navigation__card-number {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14.2px;
  line-height: 17px;
  background-color: #9356DC;
  border-radius: 50%;
  z-index: 1;
  position: relative;
  right: 12.5px;
}
#navigation .navigation__card .navigation__card-number p {
  position: relative;
  width: 15.27px;
  height: 14.55px;
  color: #FFFFFF;
  bottom: 10px;
  left: 8px;
  z-index: 2;
}
#navigation .navigation__card .navigation__card-icon i {
  width: 13.02px;
  height: 19.9px;
  color: #7E7E7E;
  position: relative;
  left: 16px;
  bottom: 4px;
  font-size: 21px;
}
#navigation .navigation__card h4 {
  position: relative;
  left: 50px;
}
#navigation .navigation__card a:link {
  width: 335px;
  height: 72.38px;
  text-decoration: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
#navigation .navigation__card:hover {
  cursor: pointer;
}
#navigation .navigation__card:hover .fa-solid.fa-mobile-screen-button, #navigation .navigation__card:hover .fa-solid.fa-list-ul, #navigation .navigation__card:hover .fa-solid.fa-store {
  color: #9356DC;
}

footer {
  width: 100%;
  min-height: 186px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 22px 25px;
  gap: 16px;
  background-color: #353535;
}
footer .footer__container {
  width: 375px;
  margin: 22px 25px 22px 25px;
}
@media only screen and (min-width: 768px) {
  footer .footer__container { /* tablettes et ordinateurs */
    width: 100%;
    height: auto;
    max-width: 1440px;
    max-height: 114px;
    display: flex;
    flex-direction: row-reverse; /* A REVOIR, NE VA PAS A LA LIGNE ENTRE MOBILE ET DESKTOP */
    justify-content: flex-start;
    align-items: baseline;
    padding: 30px 25px;
    gap: 16px;
    isolation: isolate;
    margin: auto;
  }
}
footer .footer__title {
  width: 139px;
  height: 27px;
}
footer li {
  list-style: none;
}
footer li a:link {
  text-decoration: none;
}
footer ul {
  padding-left: 0px;
}
@media only screen and (min-width: 768px) {
  footer ul { /* tablettes et ordinateurs */
    display: flex;
    flex-direction: row;
  }
}
footer .footer__list-element {
  width: 190px;
  margin-left: 4px;
}
footer .fa-solid.fa-utensils, footer .fa-solid.fa-handshake-angle {
  font-size: 12px;
  color: white;
  padding-right: 8px;
  padding-left: 2px;
}
footer .footer__list-element-normal {
  width: 130px;
  height: 20px;
}

.btn-validate {
  position: absolute;
  width: 218px;
  height: 50px;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: center;
  color: #FFFFFF;
  background: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
  border: none;
  border-radius: 25px;
  top: 293px;
}

.btn-like {
  width: 22px;
  height: 21px;
  position: relative;
  left: 10px;
}
@media only screen and (min-width: 768px) {
  .btn-like { /* tablettes et ordinateurs */
    position: relative;
    left: 160px;
  }
}
.btn-like .btn-like-unselected {
  z-index: 2;
  fill: white;
}
.btn-like .btn-like-unselected:hover {
  visibility: hidden; /* NE FONCTIONNE PAS */
}
.btn-like .btn-like-selected {
  z-index: 1;
  fill: #9356DC;
  stroke: none;
}

.nouveau {
  width: 80px;
  height: 29px;
  border-radius: 2px;
  color: #008766;
  background-color: #99E2D0;
  position: relative;
  top: -235px;
  right: -245px;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: center;
  line-height: 29px;
}
@media only screen and (min-width: 768px) {
  .nouveau { /* tablettes et ordinateurs */
    position: relative;
    top: -235px;
    right: -389px;
  }
}

.nouveau--hiden {
  visibility: hidden;
}

/* Header Homepage*/
#header__container {
  width: 100%;
  height: 113px;
  display: flex;
  flex-direction: column;
  margin: auto;
}

.header__location {
  width: 100%;
  height: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: #EAEAEA;
}

.location_dot_icon_container {
  width: 12px;
  height: 16px;
}

#header__form {
  padding-left: 20px;
}

/* Main */
main {
  background-color: #F6F6F6;
}

/* Hero Block */
#hero {
  height: 300px; /* A MODIFIER MAIS AUTO NE FONCTIONNE PAS */
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #F6F6F6;
}
#hero .hero__title {
  position: absolute;
  min-width: 275px;
  height: 68px;
  text-align: center;
  margin: auto;
  top: 152px;
}
#hero .hero__paragraph {
  position: absolute;
  min-width: 315px;
  height: 46px;
  margin: auto;
  top: 220px;
}

/* Restaurants Block */
#restaurants {
  padding-bottom: 80px;
}
@media only screen and (min-width: 768px) {
  #restaurants { /* tablettes et ordinateurs */
    width: 100%;
    max-width: 1440px;
    margin: auto;
  }
}
#restaurants .restaurants__title {
  margin-left: 20px;
}
#restaurants .restaurants__cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  -moz-column-gap: 100px;
       column-gap: 100px;
  row-gap: 50px;
  margin: auto;
}
@media only screen and (min-width: 768px) {
  #restaurants .restaurants__cards-container { /* tablettes et ordinateurs */
    max-width: 1080px;
    max-height: 552px;
  }
}
#restaurants .restaurants__card {
  width: 340px;
  height: 251px;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  border-radius: 15px;
  margin: auto;
  background-color: #FFFFFF;
}
@media only screen and (min-width: 768px) {
  #restaurants .restaurants__card { /* tablettes et ordinateurs */
    width: 490px;
  }
}
#restaurants .restaurants__card a {
  text-decoration: none;
}
#restaurants .image-link {
  width: 100%;
  height: 230px;
}
#restaurants .restaurants__card-image {
  width: 100%;
  height: 230px;
  -o-object-fit: cover;
     object-fit: cover;
  overflow: hidden;
  position: relative;
  bottom: 57px;
}
#restaurants .restaurants__card-body {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
  bottom: 45px; /* A MODIFIER?*/
}
#restaurants .restaurants__card-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  margin-left: 13px;
}
#restaurants .restaurants__card-text h5 {
  width: 267px;
  height: 20px;
  margin-bottom: 5px;
  margin-top: 5px;
}
#restaurants .restaurants__card-text h6 {
  width: 247px;
  height: 24px;
  margin: 0px;
}/*# sourceMappingURL=main.css.map */