/* Header */
#header__container {
    width: 100%;
    height: 113px;
    display: flex;
    flex-direction: column;
    margin: auto;
}
.header__location {
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: $color-background-header-location;
}
.location_dot_icon_container {
    width: 12px;
    height: 16px;
}
#header__form {
    padding-left: 20px;
}

/* Main */
main {
    background-color: $color-background-homepage;
}
/* Hero Block */
#hero {
    height: 300px; /* A MODIFIER MAIS AUTO NE FONCTIONNE PAS */
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $color-background-homepage;
    .hero__title {
        position: absolute;
        min-width: 275px;
        height: 68px;
        text-align: center;
        margin: auto;
        top: 152px;
    }
    .hero__paragraph {
        position: absolute;
        min-width: 315px;
        height: 46px;
        margin:auto;
        top: 220px;
    }
}

/* Restaurants Block */
#restaurants {
    .restaurants__title {
        margin-left: 20px;
    }
    .restaurants__cards-container {
        display: flex;
        flex-wrap: wrap;
        gap: 25px;
    }
    .restaurants__card {
        width: 600px;
        height: 600px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        overflow: hidden;
        border-radius: 15px;
        margin: auto;
        border: 3px solid yellow;
        a {
            width: 100%;
            height: 100%;
            text-decoration: none;
            padding-bottom:0px;
            border: 3px solid violet;
        }
    }
    .restaurants__card-image {
        width: 346px;
        object-fit: cover;
        margin-bottom: 0px;

        border: 3px solid brown;
        img {
            border: 3px solid orange;
        }
    }
    .restaurants__card-body {
        display: flex;
        flex-direction: row;
        margin-top: 0px;
        border: 3px solid red;
    }
    .restaurants__card-text {
        display: flex;
        flex-direction: column;
        border: 3px solid blue;
        h5 {
            border: 3px solid black;
        }
        h6 {
            border: 3px solid black;
        }
    }
}
