/* Loading spinner*/
.header-homepage, .main-homepage, .footer-homepage {
    opacity: 0;
    animation: body-appear 1s 3s ease-in forwards;
}
/* Location Block*/
.location {
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: $color-background-header-location;
    &__form {
        padding-left: 20px;
        &-placeholder {
                font-size: 16px;
                background-color: $color-background-header-location;
                border: none;
        }
    }
}
/* Main */
.main-homepage {
    background-color: $color-background;
}
/* Hero Block */
.hero {
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: $color-background;
    margin-bottom: 20px;
    &__title { 
        width: 60%;
        text-align: center;
        /* tablettes et ordinateurs */
        @media only screen and (min-width: 768px) { 
            width: 100%;
            font-size: 40px; /* A ENLEVER?*/
        }
    }
    &__paragraph {
        width: 80%;
        position: relative;
        bottom: 15px;
    }
}
/* Tuto Block */
.tuto {
    background-color: $color-background-tuto;
    &__container {
        @include flex-column;
        padding-bottom: 44px;
        /* tablettes et ordinateurs */
        @media only screen and (min-width: 768px) { 
            width: 100%;
            max-width: 1200px;
            margin: auto;
        }
    }
    &__title {
        margin-top: 40px;
        margin-left: 20px;
        margin-bottom: 26px;
    }
    &__cards-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 40px;
        margin-left: 32.5px;
        margin-right: 32.5px;
    }
    &__card {
        width: 322px;
        height: 72px;
        display: flex;
        flex-direction: row;
        align-items: center;
        border-radius: 20px;
        background-color: $color-background;
        box-shadow: 0px 4px 15px 0px $color-shadow;
        &-number {
            width: 24px;
            height: 24px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            background-color: $color-primary;
            z-index: 2;
            position: relative;
            right: 12px;
            span {
                display:inline-flex;
                align-items: center;
                justify-content: center;
                width: 15px;
                height: 15px;
                color: white;
            }
        }
        &-icon {
            width: 13px;
            height: 20px;
            color: $color-inactive-icon-tuto;
            font-size: 21px;
            padding-left: 15px;
        }
        &-text {
            padding-left: 30px;
        }
        &:hover {
            .tuto__card-icon {
                color: $color-primary; 
            }
        }
    }
}
/* Restaurants Block */
.restaurants {
    padding-bottom: 80px;
    /* tablettes et ordinateurs */
    @media only screen and (min-width: 768px) { 
        width: 100%;
        max-width: 1200px;
        margin: auto;
    }
    &__title {
        margin-top: 40px;
        margin-left: 20px;
        margin-bottom: 26px;
    }
    &__cards-container {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        gap: 18px;
        margin: auto;
        /* tablettes et ordinateurs */
        @media only screen and (min-width: 768px) { 
            gap: 50px;
        }
    }
}