/* Menu Page */
/* Hero */
.hero-menu-page {
    &-image {
        width: 100%;
        height: 275px;
        object-fit:cover;
        /* tablettes et ordinateurs */
        @media only screen and (min-width: 768px) { 
            height: 383px;
        }
    }
}
/* Menu Block */
.menu {
    width: 100%;
    max-width: 1440px;
    background-color: $color-background;
    border-radius: 40px 40px 0px 0px;
    padding-bottom: 40px;
    position: relative;
    margin: auto;
    margin-top: -40px;
    &__title {
        height: 27px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 32px 40px 40px 20px;
        margin: auto;
    }
    &__global-container {
        max-width: 634px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 25px;
        margin: auto;
    } 
    &__container-1 {
        @include menu-container;
        animation: menu-appear 3s 1s both ease-out;
    }
    &__container-2 {
        @include menu-container;
        animation: menu-appear 3s 2s both ease-out;
    }
    &__container-3 {
        @include menu-container;
        animation: menu-appear 3s 3s both ease-out;
    }
    &__subtitle {
        padding-left: 10px;
        margin: 0px;
        &-border {
            width: 40px;
            height: 3px;
            background-color: $color-tertiary;
            margin-left: 10px;
            margin-bottom: 5px;
        }
    }
    &__cards-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 25px;
        margin: 10px;
    }
    &__btn-validate {
        width: 218px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 30px;
        animation: menu-appear 3s 4s both ease-out;
    }
}