/* Menu Page */
/* Main */
/* Hero */
.hero-menu-page {
    &-image {
        width: 100%;
        height: 275px;
        object-fit: cover;
        @media only screen and (min-width: 768px) { /* tablettes et ordinateurs */
            height: 383px;
            top: 96px;
        }
    }
}
/* Menu Block */
.menu {
    width: 100%;
    max-width: 1440px;
    background-color: $color-background;
    border-radius: 15px 15px 0px 0px;
    padding-bottom: 40px;
    position: relative;
    bottom: 15px;
    margin: auto;
    &__title {
        width: 315px;
        height: 27px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding-top: 32px;
        padding-bottom: 40px;
        margin: auto;
    }
    &__global-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 25px;
        margin: auto;
        @media only screen and (min-width: 768px) { /* tablettes et ordinateurs */
            max-width: 634px;
        }
    } 
    &__container-1 { /* REPETITIONS, A MODIFIER */
        @include menu-container;
        animation: menu-appear 3s 1s both ease-out;
    }
    &__container-2 {
        @include menu-container;
        animation: menu-appear 3s 2s both ease-out;
    }
    &__container-3 {
        @include menu-container;
        animation: menu-appear 3s 3s both ease-out;
    }
    &__subtitle {
        width: 275px;
        height: 24px;
        padding-left: 10px;
        margin: 0px;
        &-border { /* NOMENCLATURE A MODIFIER?*/
            width: 38px;
            height: 3px;
            background-color: $color-tertiary;
            margin-left: 10px;
        }
    }
    &__cards-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 25px;
        margin: 10px;
    }
    &__btn-validate {
        width: 186px;
        height: 50px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 30px;
    }
}