@mixin flex-column {
    display: flex;
    flex-direction: column;
}
@mixin menu-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    margin-left: 10px;
    margin-right: 10px;
}
@mixin spinner-ball {
    width: 10px;
    height: 10px;
    border-radius: 50%;
}