@mixin flex-column {
    display: flex;
    flex-direction: column;
}
@mixin menu-container { /* A REDUIRE */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    min-width: 349px;
    min-height: 270px;
    width: 100%;
    margin-left: 10px;
    margin-right: 10px;
}
@mixin spinner-ball {
    width: 10px;
    height: 10px;
    border-radius: 50%;
}