/* Validation button*/
.btn-validate {
    width: 218px;
    height: 50px;
    font-size: 16px;
    font-weight: 500;
    color: $color-typo-btn-validate;
    background: $color-background-btn-validate;
    border: none;
    border-radius: 25px;
    box-shadow: 0px 4px 10px 0px $color-shadow;
    transition: all 300ms ease-out;
    &:hover {
        opacity: 0.8;
        box-shadow: 0px 4px 10px 0px $color-shadow-btn-validate-dark;
    }
}

/* Heart Like */
.heart {
    width: 50px;
    height: 50px;
    display: inline-flex;
    align-items: center;
    font-size: 22px;
    &:active, &:hover {
        .hear__full {
            opacity: 1;
            transition: opacity 1s ease-out;  
        }
        .heart__empty {
            opacity: 0;
            transition: opacity 500ms ease-out; 
        }
    }
    @media only screen and (min-width: 768px) { /* tablettes et ordinateurs */
        &:hover {
            .heart__full {
                opacity: 1;
                transition: opacity 1s ease-out;
            }
            .heart__empty {
                opacity: 0;
                transition: opacity 500ms ease-out; 
            }
        }
    }
    &__full {
        background: $color-background-btn-validate;
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
        opacity: 0;
        z-index: 1;
        transition: opacity 500ms ease-out;
    }
    &__empty {
        color: black;
        opacity: 1;
        z-index: 2;
        transition: opacity 1s ease-out; 
    }
}