.btn-validate {
    position: absolute;
    width: 218px;
    height: 50px;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: center;
    color: $color-typo-btn-validate;
    background: $color-background-btn-validate;
    border: none;
    border-radius: 25px;
    top: 293px;
}
.btn-like {
    width: 22px;
    height: 21px;
}