.btn-validate {
    width: 218px;
    height: 50px;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: center;
    color: $color-typo-btn-validate;
    background: $color-background-btn-validate;
    border: none;
    border-radius: 25px;
    box-shadow: 0px 4px 10px 0px $color-shadow-btn-validate;
    transition: all 300ms ease-out;
    &:hover {
        opacity: 0.8;
        box-shadow: 0px 4px 10px 0px $color-shadow-btn-validate-dark;
    }
}
.btn-like {
    width: 22px;
    height: 21px;
    position: relative;
    left: 10px;
    @media only screen and (min-width: 768px) { /* tablettes et ordinateurs */
        position: relative;
        left: 170px;
    }
    .btn-like-unselected {
        z-index: 2;
        fill: white;
    &:hover {
        visibility: hidden; /* NE FONCTIONNE PAS */
    }
    }
    .btn-like-selected {
        z-index: 1;
        fill: $color-primary;
        stroke:none;
    }
}
.heart {
    vertical-align: middle;
    font-size: 20px;
}
.heart-full {
    font-size: 20px;
    background: $color-background-btn-validate;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    z-index: 1;
}
.heart-empty {
    font-size: 20px;
    background: white;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    z-index: 2;
}