body {
    margin: 0px;
}
/* Header*/
header {
    height: 63px;
    max-width: 1440px;
    display: flex;
    align-items: center;
    margin: auto;
    /* tablettes et ordinateurs */
    @media only screen and (min-width: 768px) { 
        width: auto;
        height: 96px;
    }
}
.header {
    &__logo {
        margin: auto;
    }
    &__goback-icon {
        position: absolute;
        left: 17px;
        font-size: 18px;
        a:visited {
            color: black;
        }
    }
}