#header__title {
    width: 375px;
    height: 63px;
    display: flex;
    flex-direction: row;
    align-items: center;
    z-index: 1;
    margin: auto;
    @media only screen and (min-width: 768px) { /* tablettes et ordinateurs */
        width: auto;
        height: auto;
        max-width: 1440px;
        max-height: 96px;
    }
}
.header__goback-icon {
    width: 30px;
    height: 30px;
    margin: auto;

    &-homepage {
        position: absolute;
        visibility: hidden;
    }
}
.fa-solid.fa-arrow-left {
    width: 17.2px;
    height: 16px;
    margin-left: 4px;
    margin-top: 4px;
    position: absolute;
    z-index: 2;
    &:visited {
        color: black;
    }
    &:active {
        color: black;
    }
}
#header__logo {
    width: 200px;
    height: 36px;
    margin: auto;
}